

/*#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  text-align: center;

}*/

.App {
  /*max-width: 1280px;*/
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}
/*
body {
  justify-content: center;
}
*/
.headshot_img {
  border-radius: 8px;
  width: 200px;
  height: auto; 
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(246, 246, 201)
}


.word_container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.item_1_landing {
  grid-area: header;
  line-height: 1em;
  margin: 15px 0px 15px 0px;

}

.item_2_landing {
  grid-area: img;
}

.item_3_landing {
  grid-area: txt;
  padding-right: 40px;
}

.item_4_landing {
  grid-area: item4;

}

.header_landing_container {
  grid-area: header;
  background: #4FA095;
  color: #F6F6C9;
  text-shadow: 0.5px 0px black;
  border-radius: 8px;
  box-shadow: 10px 10px #153462;
  margin-top: 20px;
}

.info_landing_container {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'img txt txt'
  'item4 item4 item4';
  background-color: #153462;
  border-radius: 8px;
  color: #F6F6C9;
  box-shadow: -10px 10px #BAD1C2;
  text-shadow: 0.5px 0px black;
  align-items: center;
  margin-top: 20px;
}

.main_landing_container {
  display: flex;
  flex-direction: column;
  max-width: 810px;
  row-gap: 20px;
  column-gap: 20px;
}

.icons_container1_landing {
  background-color:#BAD1C2;
  box-shadow: 10px 10px #4FA095;
  border-radius: 8px;
  grid-area: col1;
  color: #153462;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  text-shadow: 0.5px 0px black;
  border-color: black;
  margin-top: 20px;
}

i {
  font-size: 75px;
  padding: 10px 0px 10px 0px;
}

.flex_landing_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 810px;
  margin-bottom: 40px;
}

.contact_me {
  color: #F6F6C9;
  background-color: #153462;
  grid-area: contact;
  border-radius: 8px;
  text-shadow: 0.5px 0px black;
  box-shadow: -10px 10px #BAD1C2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'header header header header'
  'subheader subheader subheader subheader'
  '. linkedin github .';
  margin-top: 20px;
}

.contact_me_header {
  grid-area: header;
  margin: 20px 0px 0px 0px;
}

.contact_me_subheader {
  grid-area: subheader;
}

.devicon-linkedin-plain {
  grid-area: linkedin;
  font-size: 75px;
}

.devicon-github-original-wordmark {
  grid-area: github;
  font-size: 75px;
}

.devicon-linkedin-plain, .devicon-github-original-wordmark {
  padding-bottom: 50px;
}

.devicon-github-original-wordmark, .devicon-linkedin-plain:hover {
  cursor: pointer;
}


@media screen and (max-width: 810px) {
  .App {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    }
    
    .main_landing_container {
    max-width: 100%;
    }

  .item_1_landing, .contact_me_header {
    font-size:x-large
  }

  .item_1_landing {
    margin-right: 10px;
    margin-left: 10px;
  }

  .item_3_landing, .contact_me_subheader {
    font-size:larger;
  }

  .info_landing_container {
    display: flex;
    flex-direction: column;
  }

  .item_3_landing {
    padding: 0px 10px 0px 10px;
  }

  .item_4_landing {
    font-size: large;
  }

}
