.main-header {
    font-family: 'Seymour One', sans-serif;
    margin-bottom: 10px;
    line-height: 2;
  }
  
  .tag {
    font-family: 'Seymour One', sans-serif;
    margin-top: 0px;
    line-height: 1;

  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

  }

  @media screen and (max-width: 763px) {
    .main-header::before {
      content: "WRF";
      visibility: visible;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* hide the original text */
    .main-header {
      visibility: hidden;
      line-height: .25;
      margin-bottom: 0;
    }
    
    .tag-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 90vw;
      justify-content: center;
    }
    .tag {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      justify-content: center;
      padding: 0;
      margin-top: 0;
    }

    /* higher specificity for new text */
    .main-header::before.new-text {
      visibility: visible;
    }

    .header-wrapper {
    flex-direction: column; /* stack the elements vertically */
    align-items: center;
  }

  }