.main_nav {
    display: inline-block;
    align-items: center;
    justify-content: center;
    max-width: 810px;
    margin: 0px;

  }
  
  
  .nav_ul {
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding-left: 0px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 8px;
    border-color: #BAD1C2;
    text-shadow: 0.5px 0px black;
    background-color: rgb(246, 246, 201);
  }
  
  .nav_item {
    list-style: none;
    padding: 0em 1em 0em 1em;
    font-size: x-large;
  }

  @media screen and (max-width: 810px) {
    .main_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    .nav_ul {
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      max-width: 130px;
      padding: 0; 
    }
  
    .nav_item {
      padding: 3px;
      font-size: medium;
    }
  }