.project_main_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 810px;
  margin-bottom: 40px;
}

.projects_header_container {
  display: flex;
  flex-direction: column;
  background-color: #4FA095;
  color: #F6F6C9;
  box-shadow: 10px 10px #153462;
  text-shadow: 0.5px 0px black;
  border-radius: 8px;
  padding: 0;
  margin-top: 20px;
}

h1 {
  margin: 15px 0px 0px 0px;
  line-height: 1em;

}

h2 {
  font-size: xx-large;
  padding: 0;
  margin: 15px 10px;
}

.projects_portfolio_container {
  display: flex;
  flex-direction: column;
  background-color: #153462;
  color: #F6F6C9;
  box-shadow: -10px 10px #BAD1C2;
  text-shadow: 0.5px 0px black;
  border-radius: 8px;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
}

.projects_jeopardy_container {
  display: flex;
  flex-direction: column;
  background-color: #BAD1C2;
  color: #153462;
  box-shadow: 10px 10px #4FA095;
  text-shadow: 0.5px 0px black;
  border-radius: 8px;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
}

.projects_bc_container {
  display: flex;
  flex-direction: column;
  background-color: #153462;
  color: #F6F6C9;
  box-shadow: -10px 10px #BAD1C2;
  text-shadow: 0.5px 0px black;
  border-radius: 8px;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
}

.projects_zork_container {
  display: flex;
  flex-direction: column;
  background-color: #BAD1C2;
  color: #153462;
  box-shadow: 10px 10px #4FA095;
  text-shadow: 0.5px 0px black;
  border-radius: 8px;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
}

.projects_img {
  width: 600px;
  border-radius: 8px;
}

img:hover {
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  .header_text, .portfolio_text, .jeopardy_text, .bc_text, .zork_text {
    font-size: x-large;
    margin: 15px 10px 0px 10px;
  }

  .portfolio_info, .header_info, .jeopardy_info, .bc_info, .zork_info {
    font-size: larger;
    margin: 15px 10px 0px 10px;
  }

  .header_info {
    margin-bottom: 15px;
  }

  .projects_img {
    width: 75vw;
  }

  .projects_header_container, .projects_portfolio_container, .projects_jeopardy_container, .projects_bc_container, .projects_zork_container {
    padding: 0;
  }

  figure {
    margin: 15px 0px 15px 0px;
  }
}