.about_container {
    display: grid;
    grid-row-gap: 20px;
    max-width: 810px;
    margin-bottom: 40px;
}

.header_about_container, .child {
    border-radius: 8px;
}

.header_about_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #4FA095;
    box-shadow: 10px 10px #153462;
    padding: 10px;
}

.item_1_about {
    margin: 0px;
    margin: 40px 0px 40px 0px;
    color: #F6F6C9;
    text-shadow: 0.5px 0px black;
}

.row_1, .row_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F6F6C9;
    text-shadow: 0.5px 0px black;    
    background-color: #153462;
    box-shadow: -10px 10px #BAD1C2;
}

.row_2, .row_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #153462;
    text-shadow: 0.5px 0px black;    
    background-color: #BAD1C2;
    box-shadow: 10px 10px #4FA095;
}

.about-text-1, .about-text-2, .about-text-3, .about-text-4 {
    margin: 40px 20px;
}

h1 {
    margin-bottom: 0px;
    line-height: 1em;
  
  }
  
  h2 {
    font-size: xx-large;
    padding: 0px 10px 0px 10px;
  }