#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding: 0em 1em 0em 1em
}

img {
  border-radius: 50%;
  width: 200px;
  height: auto; 
}

.main-header {
  font-family: 'Inspiration', cursive;
}